html,
body 
{
    background-image: url(https://images.unsplash.com/photo-1540486674504-91e3ad500c52?q=80&w=3648&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0; 
    height: 100%;
    width: 100%;
    
}
.holder
{
    position: relative;
    text-align: center;
    top: 35%;
    opacity: .7;

}
.center
{
    height: 280px;
    width: 100%;
    background: #876245;
    display: flex;
    align-items: center;
    justify-content: center;  
    
}
.word
{
    color: white;
}
.button
{
    color: blanchedalmond;
    background-color: ;
    font-size: 25px;
}
.link
{
    color:#188064;
    text-decoration: none;
}
li
{
    list-style-type: none;
}
img
{
    width: 6.5%;
    height: 6.5%; 
    bu
}